
.Cartelacontainer {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(10,1fr); 
    margin-top: 10px;  

    
    
   
}
.cartela {
    width:90px;
    height: 35px;
    padding: 0px;
    background-color: #16e916ed;
    color: white;
    border: none;
    column-gap: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
   
}
.cartelacomand_bord{
    background-color: rgba(79, 98, 130, 0.974);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 50vh;
    width: 100%;
}
.pecentoption{
    margin-top: 50Px;
    margin-left: 10px;
    margin-right: 50px;
}

.game_start{
    background-color: rgb(95, 11, 213);
    
    width: 40%;
   margin-left: 70px;
   margin-top: 50px;
   height: 50px;

   margin-bottom: 5px;
   border-radius: 25px;
   color: white;
   font-size: large;
}
.Stakeplace{
    
    position: relative;
    width: 300px; /* Set the width of the dropdown */
    font-family: Arial, sans-serif;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 50px;
}
.Stakeplace h2{
    background-color: #333;
    color: rgb(246, 69, 20);
    font-size:xx-large;
}
.dropdown-cartela {
    position: relative;
    width: 300px; /* Set the width of the dropdown */
    font-family: Arial, sans-serif;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 5px;
}

.dropdown-header-cartela {
    background-color: #e24f4f;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown-list-cartela {
    position: absolute;
    top: 35%; /* Position it below the header */
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure dropdown appears above other elements */
}
.dropdown-cartela h3{
    font-size: large;
}
.dropdown-item-cartela {
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.7s;

}

.dropdown-item-cartela:hover {
    background-color: #ec3636; /* Change background color on hover */
    border-radius: 40px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333; /* Arrow color */
    transition: transform 0.2s;
}

.arrow.open {
    transform: rotate(180deg); /* Rotate arrow when dropdown is open */
}
.stakevalue{
   
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust to 4 items per row */
    gap: 10px; /* Space between items */
    font-size: large;
}
.stakevalue label {
margin-top: 20px;
display: flex;
flex-direction: row;
}